.bd {
    height: 100vh;
    min-height: 700px;
    text-align: center;
    position: relative;
}

.bd .center {
    position: absolute;
    width: 100%;
}


h1 {
    font-size: 56px;
    font-weight: 200;
}

.center p {
    font-size: 28px;
    font-weight: 400;
    color: #aeaeae;
}

.bd .btn {
    margin-top: 50px;
    font-size: 30px;
    padding: 10px 30px;
}

.bd {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    max-width: 100%;
    height: auto;
    z-index: 0;
}

.features li {
    float: left;
    width: 33%;
    text-align: left;
    padding-right: 20px;
}

.features {
    width: 984px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 60px;
}

.features h2 {
    font-size: 24px;
    color: #f4645f;
}

.features p {
    line-height: 1.5;
}

.ft {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
}

.ft a {
    color: #f4645f;
}

@media (max-width: 750px) {
    h1 {
        font-size: 20px;
    }
    .bd .center p {
        font-size: 14px;
    }

    .bd .center {
        position: static;
        -webkit-transform: translate(0, 0);
        margin-top: 135px;
    }

    .features {
        position: static;
        margin-top: 30px;
        padding-bottom: 20px;
        width: 100%;
    }

    .features li {
        padding-right: 0;
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    .features h2 {
        font-size: 16px;
    }
    .features p {
        font-size: 14px;
    }
    .bd .btn {
        margin-top: 50px;
        font-size: 20px;
        padding: 5px 20px;
    }
    .ft {
        font-size: 14px;
        margin-top: 20px;
        position: static;
    }
}

